@media screen and (device-width: 768px) {
  .site {
    width: 90%;
    text-align: left;
  }
}

@media screen and (max-width: 42em) {

.site {
  width: 100%;
  margin: 1em 0;
  text-align: left;
}

body.about .site {
  width: 90%;
  margin: 1em auto;
  padding-bottom: 2em;
  font-family: Tahoma, Geneva, sans-serif;
}

#banner { display: none; }
#mobile-banner { display: block; }

h1 {
  font-size: 18pt;
  text-align: center;
}

.posts h2 {
  font-size: 14pt;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
}

.chapter {
  display: block;
  padding-bottom: 0.2em;
}

.blurb {
  margin: 1em 0 0 0;
  padding: 1em;
  line-height: 1.5em;
}

.posts .blurb {
  border: none;
  margin: 0;
}

.post {
  margin: 0 1em;
}

.post p {
  font-size: 14pt;
  text-indent: 1.5em;
}

.navigation {
  text-align: center;
  border-bottom: 1px solid #777;
  background-color: #ddd;
}

.navigation .previous, .navigation .next {
  float: none;
  display: block;
  width: 100%;
}

.navigation .previous {
  text-align: left;
}

.navigation .next {
  text-align: right;
}

.illustration {
  margin: 1em;
  text-align: center;
}

.illustration img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.illustration.left {
  float: none;
  margin-left: auto;
}

.illustration.right {
  float: none;
  margin-right: auto;
}

.illustration .mobile, .figure .mobile {
  display: block;
}

.illustration .desktop, .figure .desktop {
  display: none;
}

.illustration + p {
  text-indent: 0;
}

canvas {
  width: 260px;
  height: 260px;
}

.comments {
  width: 80%;
  margin: 0 auto;
  padding-top: 1em;
}

}
