<div class="illustration {{ include.align }} {{ include.class }}" width="{{ include.width }}">
  <img class="desktop" src="{{ site.url }}/images/{{ include.image }}" width="{{ include.width }}" height="{{ include.height }}" alt="{{ include.alt }}" />
  <img class="mobile" src="{{ site.url }}/images/{{ include.image }}" width="{{ include.width | divided_by:2 }}" height="{{ include.height | divided_by:2 }}" alt="{{ include.alt }}" />
  {% if include.caption %}
    <p class="caption">{{ include.caption }}</p>
  {% endif %}
</div>
