<div id="greedy-demo" class="figure">
  <div>
    <div class="options">
      Size:
      <a href="javascript:generateGreedy('greedy-canvas', 11, {longestPath: true, thin: 35})" class="option">small</a>
      <a href="javascript:generateGreedy('greedy-canvas', 15, {longestPath: true, thin: 35})" class="option">medium</a>
      <a href="javascript:generateGreedy('greedy-canvas', 21, {longestPath: true, thin: 35})" class="option">large</a>
      <a href="javascript:generateGreedy('greedy-canvas', 29, {longestPath: true, thin: 35})" class="option">xl</a>
      <a href="javascript:generateGreedy('greedy-canvas', 39, {longestPath: true, thin: 35})" class="option">xxl</a>
    </div>
    <canvas id="greedy-canvas" width="400" height="400"></canvas>
    <a href="javascript:runGreedy('greedy-canvas', 50)" class="action">solve</a>
    <a href="javascript:resetGreedy('greedy-canvas')" class="action">reset</a>
  </div>
  <p class="caption">
    Tap the "solve" button to watch Fabian solve the maze.<br />
    The <span style="color:#955;font-weight:bold;">red</span> square is the starting point.<br />
    The <span style="color:#595;font-weight:bold;">green</span> square is the destination.</br>
    The <span style="color:#999;font-weight:bold;">gray</span> locations were considered but discarded.<br />
    The <span style="color:#995;font-weight:bold;">yellow</span> path is a shortest path to the destination.<br />
    The <span style="color:#595;font-weight:bold;">green</span> path is the current solution.
  </p>
</div>
