<div id="searches-demo" class="figure">
  <div>
    <canvas id="searches-canvas" width="400" height="400"></canvas>
    <a href="javascript:runSearches('searches-canvas', 50)" class="action">solve</a>
    <a href="javascript:generateSearches('searches-canvas', 20)" class="action">new</a>
  </div>
  <p class="caption">
    Tap the "solve" button to watch the algorithms solve the maze.<br />
    The <span style="color:#955;font-weight:bold;">red</span> square is the starting point.<br />
    The <span style="color:#595;font-weight:bold;">green</span> square is the destination.<br />
    The numbers are the length of the current best path.
  </p>
</div>
