<div id="transform-demo" class="figure">
  <div>
    <canvas id="transform-canvas" width="400" height="400"></canvas>
    <a href="javascript:animateTree('transform-canvas', 1000)" class="action">switch</a>
    <a href="javascript:resetTree('transform-canvas')" class="action">reset</a>
  </div>
  <p class="caption">
    Tap the "switch" button to convert between tree and maze!<br />
    Tap a vertex to change the selection.<br />
    Tap the selected vertex in "maze view" to change the root.<br />
    Darker squares are further from the "root" than lighter squares.
  </p>
</div>
