<div class="figure">
  <div>
    <a href="javascript:solveTremaux('tremaux')" class="action">solve</a>
    <a href="javascript:generateTremaux('tremaux')" class="action">new</a>
    <canvas id="tremaux" width="400" height="400"></canvas>
  </div>
  <p class="caption">
    The <span style="color:#955;font-weight:bold;">red</span> square is the starting point.<br />
    The <span style="color:#595;font-weight:bold;">green</span> is the destination.<br />
    Paths that are <span style="color:555;font-weight:bold;">gray</span> have been retraced.<br />
    The <span style="color:#995;font-weight:bold;">yellow</span> path is the proposed solution.
  </p>
</div>
