---
layout: default
---
<h1><span class="chapter">{{ page.chapter }}</span>{{ page.title }}</h1>
{% if page.audio %}
<div class="audio" data-url="{{ page.audio.url }}">
  <audio controls>
    <source src="{{ page.audio.url }}" type="audio/mpeg" />
  </audio>
  <p>
    <a href="{{ page.audio.url }}">Download the MP3</a>
    ({{ page.audio.length | plus: 524288 | divided_by: 1048576 }}MB)
  </p>
</div>
{% endif %}
<div class="blurb">
  <p>
    {{ page.date | date: "%-d %B %Y" }} &mdash; {{ page.blurb }}
    {{ content | number_of_words }} words. {{ content | number_of_words | plus: 150 | divided_by: 300 }} minutes.
  </p>
</div>

{% include navigation.html position="top" %}

<div class="post">
{{ content }}
</div>

{% include navigation.html position="bottom" %}

<div class="comments">
<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = 'basil-fabian';

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
